
 /*---------*/
 /*svg {

  font: 11px sans-serif;
}*/

#chartContainer{
	position:relative;
	width:1000px;
	height:700px;
	border:solid 1px #e3e3e3;
	font: 11px sans-serif;
	
}

#selectYear{
	
	position: absolute;
	height: 25px;
	top: 95px;
	right: 35px;
}

#title{
	font-size: 25px;
	position: absolute;
	top: 30px;
	left: 70px;
	shape-rendering: crispEdges;
	color:;

}

#sideNote{
	position: relative;
	top: 44px;
	left: -30px;
	
}

.legend{
	position: absolute;
	bottom: -14px;
	left: 32px;
	/*position: absolute;
	bottom:10px;
	left:20px;*/
	
}	

.legend-item{
	cursor: pointer;
}

.legend-text{
	opacity:1;
	shape-rendering: crispEdges;
}

.yAxis path{
	display: none;
}

.yAxis line{

	stroke: #444;
  	stroke-opacity: .1;
  	shape-rendering: crispEdges;
}

.xAxis path{
	display:none;
	
}

.xAxis text{
	fill:#000000;
}

.indicatorBars rect{
	cursor: pointer;
	
}

.indicatorBars rect.selected{
	stroke:#444;
	stroke-width:2;
	opacity:1;

}

/*RACE COLOR PALLETE*/

.allraces{
	fill:#FCA7AD;
}

.asian{
	fill:#90373D;
}

.black{
	fill:#7A5154;
}

.hispanic{
	fill:#B2787C;
}

.nativeamerican{
	fill:#571818;
	/*fill:#401212;*/
}

.white{
	fill:#BD4750;
}