
 /*---------*/
#chartContainer{
	position:relative;
	width:1000px;
	height:600px;
	border:solid 1px #e3e3e3;
	
}

svg {

  font: 11px sans-serif;
}

.legend{
	position: absolute;
	bottom: -14px;
	left: 32px;
	/*position: absolute;
	bottom:10px;
	left:20px;*/
	
}	

.legend-item{
	cursor: pointer;
}

.legend-text{
	opacity:1;
	shape-rendering: crispEdges;
}

#selectYear{
	position: absolute;
	width: 200px;
	height: 25px;
	left: 920px;
	top: 20px;
}

.yAxis path{
	display: none;
}

.yAxis line{

	stroke: #444;
  	stroke-opacity: .1;
  	shape-rendering: crispEdges;
}

.xAxis path{
	display:none;
	
}

.xAxis text{

	fill:#401212;
	text-anchor:middle;
}

.indicatorBars rect{
	cursor: pointer;
	
}

.indicatorBars rect.selected{
	stroke:#444;
	stroke-width:2;
	opacity:1;

}

/*RACE COLOR PALLETE*/

.allraces{
	fill:#FCA7AD;
}

.asian{
	fill:#90373D;
}

.black{
	fill:#7A5154;
}

.hispanic{
	fill:#B2787C;
}

.nativeamerican{
	fill:#472F31;
}

.white{
	fill:#BD4750;
}